<p>Welcome to my single-page application, built with:</p>
<ul>
  <li>Frontend: <a href='https://angular.io/'>Angular</a></li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
  <li>Backend: <a href='https://get.asp.net/'>ASP.NET Core API</a></li>
  <li>
    SQL Database (ORM Entity Framework Core with Code First approach)
  </li>
</ul>

<p>
  <a href="/parts/list">CRUD operations</a>
</p>
<p>
  with the following patterns used:
</p>
<ul>
  <li>Dependency Injection</li>
  <li>Repository pattern</li>
  <li>Unit of Work</li>
  <li>And Onion architecture</li>
</ul>

<p>ER Diagram</p>
<img class="img-fluid" src="/ERDiagram.png" alt="ER Diagram" title="ER Diagram" />

